.header {
  display: flex;
  flex-grow: 1;
  align-items: center;
  align-content: space-between;
  padding: 24px 0;
  z-index: 10;
  margin: 0 auto;
  &__logo {
    display: flex;
  }
  &__marker {
    display: inline-block;

    margin: 0 30px;
    height: 30px;
    border-left: 1px solid #e6e8ec;
    // border-left: 1px solid red;
  }
  &__type-travel {
    display: flex;
    flex-grow: 1;
  }
}
