html {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'DM Sans', 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
    font-size: 14px;
    color: #23262f;
    -webkit-font-smoothing: antialiased;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
:root {
    --primary: #3b71fe;
    --secondary: #0142eb;
    --border-1: #e6e8ec;
    --text: #777e90;
    --text-bold: #23262f;
    --background: #fcfcfd;
    --whitecolor: #fcfcfd;
}
